<h1>Hello add</h1>
<form action="/add" method="POST">
    <div class="input-field col s6">
        <input id="model" name="model" type="text" class="validate" required>
        <label for="model">Model</label>
        <span class="helper-text" data-error="add model" ></span>
    </div>

     <div class="input-field col s6">
          <input id="price" name="price" type="text" class="validate" required min="1">
          <label for="price">Price</label>
          <span class="helper-text" data-error="add price" ></span>
        </div>

         <div class="input-field col s6">
          <input id="img" name="img" type="text" class="validate" required>
          <label for="img">img</label>
          <span class="helper-text" data-error="add img" ></span>
        </div>

        <button class="btn btn-primary">Add phone</button>
</form>