<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Cros</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if isHome}}
        <li class="active"><a href="/">Home page</a></li>
        {{else}}
        <li><a href="/">Home page</a></li>
        {{/if}}
        {{#if isCrosses}}
        <li class="active"><a href="/crosses">Crosses page</a></li>
        {{else}}
        <li><a href="/crosses">Crosses page</a></li>
        {{/if}}
        {{#if isAdd}}
        <li class="active"><a href="/add">Add page</a></li>
        {{else}}
        <li><a href="/add">Add page</a></li>
        {{/if}}
          {{#if isCard}}
        <li class="active"><a href="/card">Basket page</a></li>
        {{else}}
        <li><a href="/card">Basket page</a></li>
        {{/if}}

      </ul>
    </div>
  </nav>